.ttmh {
    padding: 10px;
    text-align: center;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
    border: 1px solid #59a4f4;
}

.ttmhp-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-table {
    margin: auto;
    width: 99%;
}

.input-text {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border: 1px solid #00000050;
    padding: 10px;
    width: 100%;
}

.btn-more {
    text-align: center;
    padding: 3px;
    width: 25%;
    border: 3px solid #5a94f4;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.3s ease;
    margin-left: 35px;
    color:#59a4f4;
}

.btn-more:hover {
    color: white;
    background-color: #59a4f4;
    transform: scale(1.1)
}

.btn-more:active {
    transform: scale(0.9);
}

.updatecart{
    text-align: center;
    padding: 3px;
    width: 20%;
    border: 3px solid #5a94f4;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.3s ease;
    margin-left: 35px;
    background-color: white;
    color:#59a4f4;
}
.updatecart:hover{
    color: white;
    background-color: #59a4f4;
    transform: scale(1.1)
}
.updatecart:active {
    transform: scale(0.9);
}

.tr-head {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid black;
    color: white;
    background-color: #59a4f4;
}

table {
    font-size: medium;
   
}

.td-delete {

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid black;
    border-radius: 100px;
    padding: 10px;
    font-size: medium;
    color: #59a4f4;
}

.td-delete-father {

    margin-top: 10px;
}

.container-table {
    padding: 10px;
    display: flex;
}

.formCheckout {
    color: black;
    /* background-color: #5a94f4; */
    padding: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    width: 30%;
    margin-left: 30px;
}